html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #34495E;
}

iframe {
  width: 100%;
}

.botui-app-container {
  margin-top: 40px;
  width: 410px;
  height: 500px;
}

.botui-container {
  background-color: #34495E;
}
.botui-message-content {
  color: #FFFFFF;
  background-color: #F1C40F;
}

.botui-message-content.human {
  background-color: #3498DB;
}

.botui-actions-text-input {
  color: #FFFFFF;
  border-bottom: 1px solid #3498DB;
  margin: 0;
}

.botui-actions-buttons-button {
  line-height: 1 !important;
  background-color: #3498DB;
}

.botui-message-content-link {
  color: #F1C40F;
}

.botui-messages-container {
  padding: 30px 0px;
}
